<%- include('components/head')%>
  <%- include('components/nav')%>

    <div class="wrapper">
      <div id="msgDiv">
        <!-- message will be here Message.js -->
      </div>
      <div class="confirmDiv">
        <!-- confirmation box will insert from javascripts/ConfirmationBox.js -->
      </div>
      <div id="addEditForm">
        <!-- add form will be here from javascripts/CustomerForm.js -->
      </div>
      <div id="detailDiv">
        <!-- Detail will be here from javascripts/CustomerDetail.js -->
      </div>
      <div data-id="<%= companyId %>" id="container" class="pageContainer">
        <div class="titleDiv">
          <h1 class="title">Customers</h1>
        </div>
        <div class="funcHeader">
          <div class="totalDiv">
            <p class="total">Total:<span class="customerTotal totalSpan"></span>
            </p>
          </div>
          <div class="sortDiv">
            <p class="sortP">
              <i class="fa-solid fa-arrow-down-a-z"></i>
              <span class="sortText">Sort</span>
              <i class="fa-solid fa-sort-down sortDownIcon"></i>
            </p>
          </div>
          <div class="filterDiv">
            <p class="filterP">
              <i class="fa-solid fa-filter"></i>
              <span class="filterText">Filter</span>
              <i class="fa-solid fa-sort-down filterDownIcon"></i>
            </p>
          </div>
          <div class="btnDiv">
            <button id="moveToAddCustomerPage" class="addCustomerBtn funcBtn">
              Add customer <i class="fa-sharp fa-solid fa-plus addIcon"></i>
            </button>
            <button id="exportCustomerBtn" class="exportBtn funcBtn">
              Export <i class="fa-sharp fa-solid fa-file-export"></i>
            </button>

            <!-- <button id="deleteCustomers" class="devBtn">Delete</button>
            <button id="addSampleData" class="devBtn">Add Sample Data</button> -->
          </div>
        </div>
        <div class="sortFilterDivContainer">
          <div>
            <ul class="sortByUl">
              <li data-name ="firstName" class="sortFname sortLi">First Name A-Z</li>
              <li data-name ="lastName" class="sortLname sortLi">Last Name A-Z</li>
              <li data-name ="email" class="sortEmail sortLi">email A-Z</li>
            </ul>
          </div>
          <div class="filterUlDiv">
            <h2 class="ulTitle">Locations:</h2>
            <ul class="filterLocationByUl filterByUl">
              <li data-field="city1" data-name="vancouver" class="filterLi">Vancouver</li>
              <li data-field="city1" data-name="north vancouver" class="filterLi">North Vancouver</li>
              <li data-field="city1" data-name="richmond" class="filterLi">Richmond</li>
              <li data-field="city1" data-name="burnaby" class="filterLi">Burnaby</li>
              <li data-field="city1" data-name="coquitlam" class="filterLi">Coquiltlam</li>
              <li data-field="city1" data-name="surrey" class="filterLi">Surrey</li>
              <li data-field="city1" data-name="mission" class="filterLi">Mission</li>
              <li data-field="city1" data-name="whistler" class="filterLi">Whistler</li>
              <li data-field="city1" data-name="abbotsford" class="filterLi">Abbotsford</li>
            </ul>
            <h2 class="ulTitle">Tags:</h2>
            <ul class="filterTagUl filterByUl">
              <!-- insert from customerMain.js -->
            </ul>
          </div>
        </div>
        <div id="customerDataDiv">
          <div class="header">
            <span>Name</span>
            <span>Email</span>
            <span>Phone</span>
            <span>Address 1</span>
            <span>Tags</span>
            <span></span>
          </div>
          <ul id="customerUl">
            <!-- data will be here from javascripts/pages/customerMain.js -->
          </ul>
        </div>
      </div>
    </div>
    <%- include('components/pagination') %>
    <%- include('components/footer') %>