<%- include('components/head')%>
<%- include('components/nav')%>

<div class="wrapper">
  <div class="titleDiv">
    <h1 class="title">USER</h1>
    <hr/>
  </div>
  <div id="container">
    <div class="btnDiv">
      <a href="/user/user-add" class="addUserBtn addBtn">Add a new user</a>
    </div>
    <div class="searchDiv">
      <input type="text" class="search" placeholder="search user e.g. first name, last name, email, or permissions"/>
      <button class="searchBtn">Search</button>
    </div>
    <div id="usersDataDiv">
      <p class="totalP">Total: <%= users.length %></p>
      <h1>All users</h1>
      <hr />
      <ul id="usersUl">
        <% users.forEach(user => { %>
          <li class="userGrid">
            <div class="userInfo">
              <div class="name">
                <%= user.firstName %> <%= user.lastName %> (<%= user.email %>)
              </div>
              <div class="permissionDiv">
                <p class="permissionTitle">permissions:</p>
                <% user.permissions.forEach( p => { %>
                  <span class="permissionTag" ><%= p %></span>
                <% })%>
              </div>
            </div>
            <div>
              <button class="editBtn btn">Edit</button>
              <button class="deleteBtn btn">Lock</button>
            </div>
          </li>
        <%})%>
      </ul>
    </div>
  </div>
</div>

<%- include('components/footer') %>